.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.menu{
    display: flex;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: wheat;
    
}

.active{
    background-color: rgb(109, 92, 92);
    border-radius: 3px;
  
    padding-left: 5px;
    padding-right: 5px;
}